{% extends 'portfolio/base.html' %}

{% block content %}

    <h1>Igor's Portfolio</h1>

    {% load static %}

    <a href="{% url 'blog:all_blogs' %}">Blog</a>
    <br>

    <a href="{% static 'portfolio/CARGOTENDERS.pdf' %}">Resume</a>

    <img src="{% static 'portfolio/photo_2022-03-01_17-39-20.jpg' %}">

    {% for project in projects %}

    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <img src="{{ project.image.url }}">
    {% if project.url %}
    <br><a href="{{ project.url }}">Link</a>
    {% endif %}

    {% endfor %}

{% endblock %}
